.wrapper {
  display: inline-block;
  border: none;
  border-top: 1px solid #525252;
  border-bottom: 1px solid #525252;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: #525252;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper:nth-child(1) {
  border-left: 1px solid #525252;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.wrapper:nth-child(2) {
  border-right: 1px solid #525252;
  border-left: 1px solid #525252;
}

.wrapper:nth-child(3) {
  border-right: 1px solid #525252;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.wrapper:active {
  outline: none;
}

.disabled {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0,0.3)
}
