.wrapper {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: #07a0fa;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper:nth-child(1) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.wrapper:nth-child(3) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.wrapper:active {
  outline: none;
}

.disabled {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
}
