.wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.938em 2.188em rgba(50, 50, 93, 0.15),
    0 0.313em 0.938em rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
}

.loaderWrapper {
  flex: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlsWrapper {
  flex: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}
